#messages table tr th
{
	padding-left: 10px;
	padding-right: 10px;
}

#messages table tr td
{
	text-align:center;
}

#messages table tr th
{
	text-align: center;
}

#messages table
{
	width:90%;
}

#messages table tr td a
{
	text-decoration:none;
}

#messages table tr:nth-child(odd)
{
	background-color:#86fced;
}

#readerPane
{
	width=40%;
	height=80%;

}
